@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch';
}

body {
    background-image: url(Pokemon\ Wallpaper.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 2rem;
    -webkit-text-fill-color: aliceblue;

}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;

}

.box {
    width: 20rem;
    justify-items: center;
    align-items: center;
    justify-items: space-around;
    border-radius: 1rem;

}

img {
    width: 60%;
    aspect-ratio: 1/1;
}

.text {
    display: none;
    font-size: 10vw;
    text-shadow: 0.5rem 0.5rem 0.5rem;
}

.pokemon {
    display: none;
}

.types {
    display: none;
}

#pikachu {
    background-color: rgb(222, 222, 44);
}

#jigglypuff {
    background-color: fuchsia;
}

#meowth {
    background-color: rgb(236, 218, 162);
}

#psyduck {
    background-color: rgb(244, 205, 67);
}

#snorlax {
    background-color: rgb(67, 67, 249);
}

#rattata {
    background-color: rgb(206, 67, 249);
}

#mankey {
    background-color: rgb(244, 216, 179);
}

#eevee {
    background-color: rgb(247, 202, 148);
}

#squirtle {
    background-color: rgb(67, 249, 249);
}

#venonat {
    background-color: rgb(155, 69, 236);
}

#zubat {
    background-color: rgb(86, 107, 214);
}

#pidgey {
    background-color: rgb(245, 243, 118);
}

#electric {
    background-color: rgb(247, 208, 44);
}

#normal {
    background-color: rgb(184, 184, 176);
}

#fairy {
    background-color: lightpink;
}

#dark {
    background-color: rgb(128, 90, 90);
}

#steel {
    background-color: lightgrey;
}

#water{
    background-color: rgb(115, 115, 249);
}

#fighting{
    background-color: orange;
}

#bug{
    background-color: rgb(185, 240, 140);
}

#poison{
    background-color: rgb(191, 62, 191);
}

#flying{
    background-color: lightblue;
}
@media all and (max-width: 1136px) {

    .container {
        flex-direction: column;
        transition-timing-function: ease-in-out;
        transition-delay: 1s;
    }

    .box {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    img {
        width: 20%;
        text-align: center;
    }

    .text {
        display: flex;
        font-size: 6vw;
        justify-self: center;
    }

    .pokemon {
        display: flex;
        width: 10%;
    }

    .box:hover {
        background-image: url(/bgmove.webp);
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        transition-delay: 2s;
    }

    @media all and (max-width:670px) {

        body {
            transition-delay: 2s, initial, inherit;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .box {
            width: 100%;
            flex-direction: column;
            aspect-ratio: 1/1;
            gap: 0.3rem;
            padding: 0.3rem;
        }

        img {
            width: 45%;
        }

        .text {
            font-size: 8vw;
        }

        .pokemon {
            display: none;
            justify-content: center;
            justify-content: space-around;
        }

        .types {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            width: 25rem;
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            color: beige;
            text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
                -3px 0px 7px rgba(81, 67, 21, 0.8),
                0px 4px 7px rgba(81, 67, 21, 0.8);
        }
    }
}
