@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Protest Revolution', sans-serif;
    transition: 0.8 all ease;
}

body {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #FFFFC1;
    padding: 15px;
    gap: 10rem;
    height: 100vh;
    background-image: url(infinity\ castle.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-style: normal;

}

.main-container {
    background-color: #DA1A21;
    opacity: 0.8;
    display: grid;
    grid-row: 1/6;
    height: 800px;
    width: 500px;
    padding: 1rem;
    gap: 0.7rem;
    border-radius: 1rem;
}

select {
    background-color: rgb(251, 255, 253);
}

input {
    background-color: rgb(251, 255, 253);
    border: 1px;
}


button {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #15161b;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover,
.button:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button:active {
    background: var(--color);
    color: #fff;
}

.reset-button {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #15161b;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.reset-button:hover,
.reset-button:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.reset-button:active {
    background: var(--color);
    color: #fff;
}

.grow-all-button {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #15161b;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.grow-all-button:hover,
.grow-all-button:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.grow-all-button:active {
    background: var(--color);
    color: #fff;
}

#resetflex {
    border-radius: 1px;
    background-color: bisque;
}

.itemGap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.flexDirection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.flexButs{
    display: flex;
    flex-direction: row;
    gap:0.8rem;
}

.justifyContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.alignItems{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.flexGrow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.growButs{
    display: flex;
    flex-direction: row;
    gap:0.8rem;
}

h1{
    font-size: 2.3rem;
}
.text{
    font-size: 2rem;
}


.box1-grow{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.box2-grow{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.box3-grow{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    background-color: #DA1A21;
    opacity: 0.8;
    height: 800px;
    width: 500px;
    align-items: flex-start;
    justify-content: start;
    gap: 0px;
    border-radius: 1rem;
    
}

.box {
    display: flex;
    justify-content: center;
    gap: 0px;
    margin-top: 20px;
    height: 100px;
    width: 100px;
    align-items: center;
    text-align: center;
    flex-direction: row;
    font-size: x-large;

}

#box1 {
    background-color: rgb(3,196,117);
    border-style: double;
    padding: 0.2rem;
}

#box2 {
    background-color: #C16FD4;
    border-style: double;
    padding: 0.2rem;
}

#box3 {
    background-color: #48BEC2;
    border-style: double;
    padding: 0.5rem;
}
